/* .profile-card-container {
    display: flex;
    flex-direction: row;
    border-left-color: #2A99AB;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 3px 1px 10px 0 rgba(166, 171, 189, 0.5);
    .blue-line-content {
        width: 8px;
        height: 100px;
        background-color: #2A99AB;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    .profile-card-bar {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 30px;
        color: #094070;
        padding: 0 !important;
        justify-content: center;
        font-family: 'Poppins';
        position: relative;
        cursor: pointer;
    }
        .title-leftlist {
            font-size: 17px;
            font-weight: 500;
        }
        .subtitle-leftlist {
            font-size: 15px;
        }
        .subtitle2-leftlist {
            font-size: 15px;
        }
        .arrowIcon {
            width: 10px;
            position: absolute;
            right: 15px;
        }
}
.profile-blue-card-container {
    background-color: #2A99AB!important;
    .profile-card-right-bar {
        color: #ffffff;
    }
} */