.search_content_base {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.doctor-tab-chat-user-type-ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    .doctor-tab-chat-user-type-li {
        font-size: 13px;
        margin-right: 1px;
        width: 18%;
        &:first-child {
            width: 14%;
        }
        &:nth-child(3) {
            width: 11%;
        }
        &:nth-child(2) {
            width: 21%;
        }
        button {
            width: 100%;
            background-color: #CDCCCC;
            border: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            outline: none;
            cursor: pointer;
            padding: 4px 0;
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 14px;
            color: #303030;
        }
        .active {
            background-color: #1ABC9C;
            color: #FFFFFF;
        }
    }
}