.text-input {
    display: flex;
    flex-direction: column;
    .text-input-title {
        font-size: 18px;
        color: #00325D;
        font-family: 'Poppins';
        font-weight: 500;
    }
    .text-input-input {
        font-size: 15px;
        font-family: 'Poppins';
        font-weight: 500;
        color: #777777;
        border-color: transparent;
        border-bottom: 2px solid rgba(42,153,171,0.3);
        margin-top: 2px;
        padding: 4px 0;
    }
}
input:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}