.doctor-right-bar {
    .doctor-right-bar-buttons-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
    .institutions-right-bar-buttons-container {
        display: flex;
        justify-content: flex-end;
    }
    .patient-right-bar-buttons-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
    .doctor-right-bar-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        .profile-image {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-left: 2rem;
            .profile-image-border {
            width: 90%;
            height: 10vw;
            max-width: 130px;
            max-height: 130px;
            border: 3px solid #37A7B9;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img{
                width: 7vw;
            }
            }
        }
        .profile-data {
            width: 75%;
            display: flex;
            flex-direction: column;
            margin-left: 2rem;
            font-family: 'Poppins';
            .bigBlueText {
                font-size: 20px;
                font-weight: 600;
                color: #00325D;
                margin-bottom: 4px;
                text-transform: capitalize;
            }
            .subtitleProfile {
                font-size: 14px;
                color: #777777;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
        .profile-data-element {
            display: flex;
            .profile-content {
                width: 30%;
                padding-left: 2rem;
            }
            .direction_content {
                width: 65%;
                p, span {
                    font-family: 'Poppins';
                    font-size: 16px;
                    color: #777777;
                    font-weight: 500;
                }
                p {
                    margin-bottom: 0;
                }
            }
            .requirements_title {
                font-family: 'Poppins';
                font-size: 18px;
                color: #303030;
                font-weight: 600;
            }
            .requirements_content {
                width: 65%;
                margin-bottom: 3rem;
                p {
                    font-family: 'Poppins';
                    font-size: 14px;
                    color: #777777;
                    font-weight: 500;
                    margin-bottom: 8px;
                }
            }
        }
        }
        .second-part-header {
            padding: 0;
        }
        .separate-dark-line {
            border: 1px solid #777777;
            margin: 2rem 0;
        }
}

// PATIENT
.separate-line {
    border: 1px solid #CDCCCC;
    margin: 2rem 0;
}
.report-content {
    margin-top: 3rem;
}
.report-tab-elements {
    display: flex;
    .text-element {
        &:last-child {
            margin-right: 0;
        }
    }
}
.patients-right-bar-header {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 20px!important;

    .profile-data {
        width: 25%;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins';

        .titleProfile {
            font-size: 17px;
            color: #2A99AB;
            font-weight: 500;
            margin-left: 2rem;
            text-transform: capitalize;
        }
    }
}
.patien-profile-data {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    .profile-data-content {
        width: 75%;
    }
    .profile-data-two-columns {
        display: flex;
        span {
            width: 35%;
            margin-left: 2rem;
            font-family: 'Poppins';
            font-size: 15px;
            margin-bottom: 8px;
            &:last-child {
                width: 45%;
            }
        }
        .subtitleProfile {
            color: #777777;
            font-weight: 500;
        }

        .subtitleProfileDark {
            color: #303030;
            font-weight: 500;
        }
    }

    .profile-data {
        width: 25%;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins';

        .bigBlueText {
            font-size: 20px;
            font-weight: 500;
            color: #00325D;
            margin-bottom: 4px;
            margin-left: 2rem;
        }
    }
}